.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    .errorMessage
    {
        height: 60px;
        min-width: 350px;
        max-width: 355px;
        // margin-bottom: 20px;
        background-color: $errorColor;
        @include fontTitle;
        font-size: 1.8rem;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .weatherResult{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 355px;
        min-width: 350px;
        @include fontText;
        font-size: 1.6rem;
        background-color: $secondaryColor;
        border-radius: 20px;
        margin: 10px 0px 10px 0px;
        padding: 8px;
        
        h2{
            color: $ternaryColor;
            margin-bottom: 5px;
        }
        div{
            margin: 10px 0px 10px 0px;
        }

        i{
            margin-top: 15px;
            color: #646262;
            align-self: center;
        }
    }
}
