.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    .errorMessage
    {
        height: 60px;
        min-width: 350px;
        max-width: 355px;
        // margin-bottom: 20px;
        background-color: $errorColor;
        @include fontTitle;
        font-size: 1.8rem;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
