@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;800&display=swap');

@mixin fontTitle {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}

@mixin fontText {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
}

@mixin formStyle {
    height: 60%;
    min-width: 350px;
    max-width: 355px;
    margin: 0px 10px 0px 10px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    @include fontText;
    font-size: 1.5rem;
}

$primaryColor: rgba(242, 190, 62, 0.5);
$secondaryColor: rgba(241, 235, 117, 0.5);
$ternaryColor: #F2BE3E;
$errorColor: #eb5a5a;
